<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag 'logo.jpg', alt: 'My Brand Logo', class:"navbar-brand mt-5"%>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', alt: 'My Brand Logo', class:"navbar-brand offcanvas-title", id:"offcanvasNavbarLabel" %>
        <% end %>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" id="offcanvas-close-btn" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1 pe-3 fs-5">
          <li class="nav-item"> <%= link_to 'About Us', home_about_path, class:"nav-link btn btn-info m-2" %> </li>
          <li class="nav-item dropdown">
            <a class="nav-link btn btn-info m-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu fs-5">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item"> <%= link_to 'Add Friend', new_friend_path, class:"nav-link btn btn-info m-2" %> </li>
          <% end %>
        </ul>
        <ul class="navbar-nav navbar-right fs-5">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete }, class:"nav-link btn btn-info m-2" %> </li>
            <li class="nav-item"> <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link btn btn-info m-2" %> </li>
          <% else %>
            <li class="nav-item"> <%= link_to 'Sign Up', new_user_registration_path, class:"nav-link btn btn-info m-2" %>
            </li>
            <li class="nav-item"> <%= link_to 'Sign In', new_user_session_path, class:"nav-link btn btn-info m-2" %> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
